<%= simple_form_for(@issue) do |issue| %>
	<div class="form-horizontal">

		<%= issue.input :title %>

		<%= issue.input :published_at %>

		<%= issue.input :description,
										as: :text,
										input_html: { rows: "3"} %>

		<%= issue.input :position %>

		<div class="control-group">
			<div class="controls">
				<%= issue.submit "Submit", class: "btn btn-primary" %>
			</div>
		</div>

	</div>
<% end %>
