<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <%= link_to "Bloomberg Projects & Investigations", root_path, class: "brand" %>
 
      <div class="nav-collapse collapse">

        <%= form_tag articles_path, :method => :get, class: "navbar-search pull-right" do %>
            <p>
              <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search" %>
            </p>
          <% end %>


      	
		    <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "New Issue",new_issue_path %></li>
            <li><%= link_to "New Article",new_article_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% end %>
		    </ul>
      </div>
 
    </div>
  </div>
</div>